body {
    background-color: #e3f2fd;
}

/*sections*/

/*header {*/
/*    height: 200px;*/
/*    background-color: #f44242;*/
/*    color: white;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    font-family: 'Monoton', cursive;*/
    
/*}*/

.logo {
    font-family: 'Monoton', cursive;
 
}

h2, h3 {
    font-family: 'Monoton', cursive;
}

video:focus, button:focus {outline:0;}



/* elements */

h1, h2 {
    margin: 0; /*removes white space below element*/
}

video{
    
    width: 100%;
    height: auto;

}

.member {
    display: block;
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: auto;
}

.news {
    /*background-color: #415ce2;*/
   
    padding: 25px;
}

.disc {
    /*background-color:#1aba1a;*/
  
}

.form {
    /*background-color: #f47ab9;*/
    
    
}

.band {
    /*background-color: #f4f47b;*/
   
}



/*.member {*/
/*    display: block;*/
/*}*/

.navbar {
    /*position: fixed;*/
    /*background-color: rgba(227, 242, 253, 0.2);*/
    background-color: #e3f2fd;
    /*width: 100%;*/
}



/*.navbar-light .navbar-nav .nav-link {*/
/*    color: #fafafa;*/
/*}*/


    
figure, p {
    margin: 0;
}

figure {
    padding: 40px;
}



#band>div {
    padding: 25px;
}

section {
    background-color: #e3f2fd;
    width: 70%;
    margin: auto;
}



/* Navbar */








/*------------------------------------------------------------------mediaQueries*/


@media(min-width: 768px){
    .mobile-only {
        display: none;
    }
    
}

@media(max-width: 767px){
    .medium-only {
    display: none;
 }
}

.cover {
    width: 100%;
    height: auto;
}

.space {
    padding-bottom: 20px;
}

.carousel-inner > .carousel-item > img {
  width:640px;
  height:360px;
  object-fit: contain;
}

/*footer*/

/*.social-links {*/
/*    padding-bottom: 15px;*/
/*}*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: pink;
}

footer {
    /*background-color: #f44242;*/
    margin: 0;
}

/*.social-media {*/
/*    padding-top: 30px;*/
/*}*/

.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.one {
    -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Safari 3-8 */
  transform: rotate(30deg);
}

.two {
    -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari 3-8 */
  transform: rotate(-15deg);
    
}

.three {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari 3-8 */
  transform: rotate(-20deg);
}

.four {
-ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari 3-8 */
  transform: rotate(10deg);

}

