html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    /*background-color: #e3f2fd;*/
   
    /*background-image: linear-gradient(to bottom right, #1e90ff, white);*/
    background-image: linear-gradient(to bottom right, violet, white);
}

/*sections*/

.logo {
    font-family: 'Monoton', cursive;
 
}

h2 {
    font-family: 'Monoton', cursive;
}

video:focus, button:focus {
    outline:0;
    
}



/* elements */

h1, h2 {
    margin: 0; /*removes white space below element*/
}

video{
    
    width: 100%;
    height: auto;

}

.member {
    display: block;
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: auto;
}

.about {
   
    padding: 25px;
   
}

.about>p {
    padding-bottom: 75px;
}



footer {
    background-color: #1a1a1a;
	
	color: #fafafa;
	border: 5px solid white;
	padding: 10px;
}



.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}


    
figure, p {
    margin: 0;
}

figure {
    padding: 40px;
}



#band>div {
    padding: 25px;
}

section {
   
    width: 70%;
    margin: auto;
}



/* Navbar */

.cover {
    width: 100%;
    height: auto;
}

.space {
    padding-bottom: 20px;
}

.carousel-inner > .carousel-item > img {
  width:640px;
  height:360px;
  object-fit: contain;
}



.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ff711e;;
}




.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.one {
-ms-transform: rotate(-30deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Safari 3-8 */
  transform: rotate(-30deg);
}

.two {
    -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari 3-8 */
  transform: rotate(15deg);
    
}

.three {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
}

.four {
-ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari 3-8 */
  transform: rotate(-10deg);

}

.box {
    border-radius: 10px;
    padding: 10px;
}

.pink {
  background-color: #c71eff;
}

.yellow {
    background-color: #ffe11e;
}

.red {
   background-color: #ff381e;
}

.orange {
    background-color: #ff711e;
}

.div-bottom {
    margin-bottom: 50px;
}

.contact-heading {
    font-family: "Monoton", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #7ce810;
    /*border-color: #7ce810;*/
    border-color: #70cc0d;
}

.form {
    /*background-image: url("/assets/images/monkees.jpg");*/
    color: #fafafa;
    
}

.disc {
    /*background-image: repeating-radial-gradient(red, blue 10%, white 15%);*/
}


/*the grid*/

/*.cover>.row>.col {*/
/*    border: 5px solid white;*/
/*    background-color: red;*/
/*    min-height: 150px;*/
/*    min-width: 150px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/


/*.divone {*/
/*    background-color:LightSkyBlue;*/
/*}*/

/*.divtwo{*/
/*    background-color:LightSalmon;*/
/*}*/

/*.divthree{*/
/*    background-color:PaleTurquoise;*/
/*}*/

/*.divfour{*/
/*    background-color:LightPink;*/
/*}*/

/*.divfive{*/
/*    background-color:PaleGreen;*/
/*}*/

/*.divsix {*/
/*    background-color:dodgerblue;*/
/*}*/

/*.cover {*/
/*    font-size: 40px;*/
/*    width: 100%;*/
/*    background: LightGray;*/
/*    display: grid;*/
  
/*}*/

.cover {
	display: flex;
	flex-wrap: wrap;
}
.container-one {
	display: grid;
	background-color: blue;
	width: 50%;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.container-two {
	display: grid;
	background-color: red;
	width: 50%;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.container-three {
	display: grid;
	background-color: green;
	width: 50%;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.container-four {
	display: grid;
	background-color: yellow;
	width: 50%;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	border: 5px solid white;
	color: #fafafa;
	font-size: 100px;
	text-align: center;
	
}

.divone {
	
/*	grid-column: 1/3;
	grid-row: 1/3;*/
	grid-area: 1/1/3/3;
}

.divtwo {
	
	grid-area: 2/2/4/4;
	
}

.divthree {
	
	grid-area: 1/2/3/4;
}

.divfour {
	
	grid-area: 2/2/4/4;


}

.divfive {
	background-color: yellow;

}

.divsix {
	background-color: orange;

}

.divseven {
	background-color: purple;
}

.diveight {
	background-color: red;
}

.divnine {
	background-color: blue;
}

.divten {
	background-color: green;
	/*align-items: center;*/
}

img {
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------------mediaQueries*/


@media(min-width: 768px){
    .mobile-only {
        display: none;
    }
    
}

@media(max-width: 767px){
    .medium-only {
    display: none;
 }
 
 .cell {
     font-size: 40px;
     border: 2px solid white;
     padding: 0;
     line-height: 75px;
     font-weight: bold;
 }
 
 .container-one, .container-two, .container-three, .container-four {
     width: 100%;
     grid-template-columns: repeat(3, 1fr);
	 grid-template-rows: repeat(2, 1fr);
 }
 
 .divone, .divthree {
     grid-area: 1/1/3/3;
 }
 
 .divtwo, .divfour {
     grid-area: 1/2/3/4;
 }
 
 
}
