/*sections*/

/*header {*/
/*    height: 200px;*/
/*    background-color: #f44242;*/
/*    color: white;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    font-family: 'Monoton', cursive;*/
    
/*}*/

.logo {
    font-family: 'Monoton', cursive;
    color: #fafafa;
}

h2 {
    font-family: 'Monoton', cursive;
}


footer {
    /*background-color: #415ce2;*/
    background-color: #f44242;
    color: #fafafa;
    height: 200px;
}

/* elements */

h1, h2 {
    margin: 0; /*removes white space below element*/
}

video{
    
    width: 100%;
    height: auto;

}

.member {
    display: block;
    border-radius: 10px;
    width: 70%;
    height: auto;
    margin: auto;
}

.news {
    background-color: #415ce2;
    padding: 25px;
}

.disc {
    background-color:#1aba1a;
}

.form {
    background-color: #f47ab9;
}

.band {
    background-color: #f4f47b;
    color: blue;
}

/*.member {*/
/*    display: block;*/
/*}*/

.navbar {
    /*position: fixed;*/
    /*background-color: rgba(227, 242, 253, 0.2);*/
    background-color: #e3f2fd;
    /*width: 100%;*/
}



/*.navbar-light .navbar-nav .nav-link {*/
/*    color: #fafafa;*/
/*}*/


    
figure, p {
    margin: 0;
}



#band>div {
    padding: 25px;
}



/* Navbar */








/*------------------------------------------------------------------mediaQueries*/


@media(min-width: 768px){
    .mobile-only {
        display: none;
    }
    
}

@media(max-width: 767px){
    .medium-only {
    display: none;
 }
}

.cover {
    width: 100%;
    height: auto;
}

.space {
    padding-bottom: 20px;
}

